.language{
	@include middle;
	position: relative;
	img{
		display: block;
		width: 25px;
		height: 25px;
		border-radius: 50%;
	}
	ul{
		position: absolute;
		background: #fff;
		border-radius: 8px;
		overflow: hidden;
		right: 1px;
		z-index: 1;
		margin-top: 8px;
		box-shadow: 0 0 5px 0 rgba(#666, 0.4);
		display: none;
		width: 45px;
		margin-right: 5px;
		a{
			display: block;
			padding: 7px 10px;
			border-bottom: solid 1px #f1f1f1;
			&:hover{
				background: #f1f1f1;
			}
		}
	}
	&>a{
		img{
			display: inline-block;
			margin-top: -1px;
		}
		&:after{
			@include font("\f0d7");
			font-size: 18px;
			color: #666666;
			margin-left: 7px;
		}
	}
}

.slider-cas{
	.slick-list{
		margin: 0;
		.slick-slide{
			margin: 0;
		}
	}
	.item{
		position: relative;
	}

	.info{
		h3{
			position: absolute;
		    top: 17%;
		    text-transform: uppercase;
		    font-weight: bold;
		    color: #464954;
		    animation:fadeOutLeft 0.5s both;
		    font-family:$f5;
		}
		h2{
		    position: absolute;
		    top: 23%;
		    text-transform: uppercase;
		    font-weight: bold;
		    color: #464954;
		    font-size: 36px;
		    max-width: 45%;
		    line-height: 40px;
		    color: #214b9f;
		    animation:fadeOutRight 1s both;
		    font-family:$f5;
		}
		p{
		    position: absolute;
		    top: 39%;
		    color: #464954;
		    max-width: 54%;
		    animation:fadeOutRight 1s both;
		    font-family:$f5;
		    margin-top:26px;
		}
		.readmore{
		    position: absolute;
		    top: 55%;
		    background: #ffe20d;
		    padding: 15px 42px;
		    border-radius: 8px;
		    animation:fadeOutLeft 1s both;
		    margin-top:30px;
		    &:hover{
		    	background:#214b9f;
		    	color:#fff;
		    }
		}
	}
	.item.slick-active .info h3{
	  animation:fadeInDown 1s both 1s;
	}
	.item.slick-active .info h2{
	  animation:fadeInLeft 1s both 1.5s;
	}
	.item.slick-active .info p{
	  animation:fadeInLeft 1s both 1.5s;
	}
	.item.slick-active .info .readmore{
	  animation:fadeInDown 1.5s both 1.5s;
	}
	.item.slick-active{
	  animation:Slick-FastSwipeIn 1s both;
	}

	.img img{
		display: block;
		width: 100%;
	}
	.slick-arrow{
		position: absolute;
		text-align: center;
		top: 50%;
		margin-top: -21px;
		height: 42px;
		@include smooth(0.2s);
		-webkit-filter: brightness(0) invert(1);
    	filter: brightness(0) invert(1);
		&:hover{
			-webkit-filter: none;
    		filter: none;
		}
		&.prev{
			left: 215px;
		}
		&.next{
			right: 215px;
		}
	}
	.slick-dots{
		position: absolute;
		left: 10px;
		right: 10px;
		bottom: 18px;
		li{
			border-radius: 50%;
			background: #fff;
			width: 16px;
			height: 16px;
			margin: 0 6px;
			&.slick-active{
				background: $c1;
			}
		}
	}
}
.about-us{
	padding-top:60px;
	padding-bottom:75px;
	.featured-img{
		position:relative;
		img{
		    box-shadow: 3px 3px 12px 0 rgba(0, 0, 0, 0.35);
		}
		&:after {
		    content: '';
		    position: absolute;
		    top: 92px;
		    right: 18px;
		    bottom: 69px;
		    left: 40px;
		    border: solid 10px #d6e1f8;
		    z-index: -1;
		}
	}
	.head-title{
		color:#828796;
		margin-bottom:0;
		margin-top:65px;
	}
	.title{
		font-size:34px;
		font-weight:bold;
		color:#464954;
		max-width:580px;
		line-height:36px;
		span{
			color:#214b9f;
			text-transform:uppercase;
		}
	}
	.desbox{
		color:#6e7488;
		line-height:27px;
		margin-top:28px;
	}
	// .list{
	// 	margin:0;
	// }
	.items{
		// padding:0;
		.i-title{
			font-size:16px;
			font-weight:bold;
			color:#464954;
		    margin: 18px 0 14px;
		}
		.shortdes{
			color:#6e7488;
			line-height:22px;
		    max-height: 44px;
		    min-height: 44px;
		    overflow: hidden;
		}
		.viewmore{
		    padding: 4px 22px;
		    border: 2px solid #6e7488;
		    color:#6e7488;
		    border-radius: 20px;
		    font-size: 12px;
		    &:hover{
		    	border: 2px solid #214b9f;
		   		color:#214b9f;
		    }
		}
	}
	
}
.headbox{
	text-align:center;
	p{
		color:#6e7488;
		text-transform:uppercase;
		letter-spacing:5px;
		margin-bottom:0;
	}
	.title{
		font-size:30px;
		font-weight:bold;
		text-transform:uppercase;
		color:#214b9f;
	}
}
.service{
	background:#f5f8fd;
	text-align:center;
    padding-top: 60px;
    padding-bottom:75px;
    .headbox{
	    margin-bottom: 35px;
    }
	.ser-item{
		padding:30px;
		border:1px solid transparent;
		.sername{
			color:#214b9f;
			text-transform:uppercase;
			font-weight:bold;
			font-size:18px;
			margin-top:26px;
			margin-bottom:17px;
			&:hover{
				color:#ffe20d;
			}
		}
		p{
			color:#6e7488;
			font-weight:300;
			line-height:25px;
		}
		&:hover{
			border:1px solid #dde1ea;
		}
	}
}
.blog{
	padding-top:60px;
	padding-bottom:75px;
	.headbox{
		margin-bottom:45px;
	}
	.post {
		position:relative;
		.img{
			position:relative;
			display:block;
			&:before {
			    content: '';
			    position: absolute;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    background: rgba(70, 73, 84, 0.50);
			    opacity: 0;
			    -webkit-transition: all 0.3s ease-in-out;
			    transition: all 0.3s ease-in-out;
			}
		}
		&:hover{
			.img:before {
				opacity:1;
			}
		}
		.info{
			.title{
				font-size:20px;
				font-weight:bold;
				color:#214b9f;
				text-transform:uppercase;
			    margin-top: 27px;
			    margin-bottom: 20px;
			    &:hover{
			    	color:#ffe20d;
			    }
			}
			span{
			    position: absolute;
			    width: 66px;
			    background: #ffe20d;
			    color: #26282e;
			    left: 0;
			    top: 0;
			    text-align: center;
			    font-size: 12px;
			    font-weight: 600;
		        padding: 20px 10px;
			    line-height: 26px;
			    strong{
		    	    display: block;
				    font-size: 36px;
			    }
			}		
		}
		p{
			color:#6e7488;
			line-height:25px;
		}
		.readmore{
			color:#214b9f;
			text-transform:uppercase;
			font-size:12px;
			font-weight:600;
			&:hover{
				color:#ffe20d;
			}
		}
	} 
}
.yt-box{
	position: relative;
	z-index: 0;
	border-radius: 5px;
	overflow: hidden;
	img{
		display: block;
		width: 100%;
		cursor: pointer;
		border-radius: 5px;
		overflow: hidden;
	}
	iframe{
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 5px;
		overflow: hidden;
	}
	&:before{
		content: '';
		@include absolute(0);
		background: rgba(#000, 0.4);
		pointer-events: none;
		z-index: 1;
		opacity: 0;
		@include smooth(0.2s);
	}
	&:after{
		@include smooth(0.2s);
		content: '';
		z-index: 1;
		position: absolute;
		pointer-events: none;
		width: 99px;
		height: 99px;
		top: 50%;
		left: 50%;
		margin-top: -50px;
		margin-left: -50px;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url('../images/play.png');
	}
	&:hover{
		&:before{
			opacity: 1;
		}
	}
}

.h-title{
	font-family: $f2;
	font-size: 36px;
}

.h-about{
	padding-top: 89px;
	margin-bottom: 72px;
	.h-title{
		margin-bottom: 22px;
		margin-top: -17px;
	}
	.s-content{
		color: #666;
		line-height: 30px;
		margin-bottom: 65px;
	}
	.more{
		@include middle;
		line-height: 45px;
		color: #fff;
		padding: 0 38px;
		border-radius: 10px;
		background: $c1;
		i{margin-left: 4px;}
	}
}

.h-footer{
	background: #1d94d1;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	padding: 28px 15px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
}


@media all and (min-width: 1200px){
	.container{width: 1200px;}
}


@media all and (min-width: 992px){
	header.fixed{
		position: fixed;
		background: rgba(#fff, 1);
		left: 0;
		right: 0;
		top: 0;
		z-index: 9;
		box-shadow: 0 0 5px 0 rgba(#666, 0.5);
		-webkit-animation-name: fadeInDown;
	    -webkit-animation-duration: 5s;
	    -webkit-animation-timing-function: linear;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-animation-direction: normal;
	    -webkit-animation-play-state: running;
	    -webkit-animation-fill-mode: forwards;
	    -moz-animation-name: anim_titles;
	    -moz-animation-duration: 5s;
	    -moz-animation-timing-function: linear;
	    -moz-animation-iteration-count: infinite;
	    -moz-animation-direction: normal;
	    -moz-animation-play-state: running;
	    -moz-animation-fill-mode: forwards;
	    -webkit-animation-delay: 1s;
	    -moz-animation-delay: 1s;
	    -webkit-animation-iteration-count: 1;
	    -moz-animation-iteration-count: 1;
	    -webkit-animation-duration: .7s;
	    -moz-animation-duration: .7s;
	    -webkit-animation-delay: 0s;
	    -moz-animation-delay: 0s;
	    -webkit-animation-timing-function: ease-out;
	    -moz-animation-timing-function: ease-out;
		// .logo{
		// 	img{
		// 		max-height: 75px;
		// 	}
		// }
		.header-top{display:none;}
		.language{
			margin-top: 0;
			margin-bottom: 5px;
		}
		// .main-nav > ul > li > a{
		// 	padding-top: 12px;
		// 	padding-bottom: 12px;
		// }
	}
}

.back-to-top{
	display: none;
	position: fixed;
	cursor: pointer;
	z-index: 999;
	text-align: center;
	right: 15px;
	bottom: 15px;
	
	font-size: 18px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: rgba($c1, 0.8);
	color: #fff;
	border-radius: 50%;
	&:hover{
		background: rgba($c1, 1);
	}
}

@media all and (max-width: 1599px){
	footer .footer .f-line{
		margin-left: 15px;
		margin-right: 10px;
	}
	.slider-cas{
		.slick-arrow{
			&.prev{
				left: 50px;
			}
			&.next{
				right: 50px;
			}
		}
	}
}